<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-Prozar!</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">E-Prozar!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Tomorrow's deals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Today's deals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Yesterday's deals</a>
          </li>
      </div>
    </div>
  </nav>

  <div class="container w-100">
    <div class="row justify-content-center">

      {% for product in products %}
      <div class="card col-3 m-3 text-center">
        <img src="{{product[2]}}" style="width: 150px; height: 100px; margin: auto;">
        <div class="card-body">
          <h5 class="card-title">{{product[0]}}</h5>

          <a href="#" class="btn btn-primary">{{product[1]}}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>

</html>